/* Navbar.css */
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 1;
}

.navbar {
  padding: 15px 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(21, 21, 21);
  display: flex;
  justify-content: center;
    align-items: center;
}

.navbar-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-links > a {
  margin: 10px 0;
  opacity: 0.3;
  transition: opacity 0.2s;
}

.navbar-links > a.active {
  opacity: 1;
}

.nav-icon {
  display: inline-block;
  font-size: 18px;
}

@media screen and (max-width: 850px) {
    .navbar-links > * > * {
      font-size: 28px;
    }

  .navbar-container {
    width: 100vw;
    bottom: 0;
    top: auto;
  }
  .navbar-container.hidden {
    transform: translateY(100%);
    opacity: 0;
  }
  .navbar {
    width: 100%;
    padding: 40px 0;
    justify-content: space-evenly;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    width: inherit;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navbar-links > a {
    opacity: 1;
  }
}
